# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
OC/795-ai-engineer-fr-fr-standard.pdf
OC/certificat-scolarité 2.pdf
OC/certificat-scolarité.pdf
OC/diplome.pdf
OC/proof-of-completion.pdf
OC/Projet 1/Benjamin_Vauchel_1_fiche_120225.pdf
OC/Projet 1/Démarrez_votre_formation_de_AI_Engineer_Benjamin_Vauchel.zip
OC/Projet 10/Realisez_une_application_de_recommandation_de_contenu_Vauchel_Benjamin.zip
OC/Projet 10/Vauchel_Benjamin_1_dossier_git_112025.zip
OC/Projet 10/Vauchel_Benjamin_2_presentation_112025.pdf
OC/Projet 11/Realisez_un_traitement_dans_un_environnement_Big_Data_sur_le_Cloud_Vauchel_Benjamin.zip
OC/Projet 11/Vauchel_Benjamin_1_dossier_git_112025.zip
OC/Projet 11/Vauchel_Benjamin_2_presentation_112025.pdf
OC/Projet 12/Realisez_le_cadrage_d_un_projet_IA_Vauchel_Benjamin.zip
OC/Projet 12/Vauchel_Benjamin_1_cadrage_122025.txt
OC/Projet 12/Vauchel_Benjamin_2_presentation_122025.pdf
OC/Projet 12/Vauchel_Benjamin_3_resume_presentation_122025.pdf
OC/Projet 2/Participez_à_un_concours_sur_la_Smart_City_Benjamin_Vauchel.zip
OC/Projet 2/Vauchel_Benjamin_1_notebook_032025.ipynb
OC/Projet 2/Vauchel_Benjamin_2_presentation_032025.pdf
OC/Projet 3/Préparez_des_données_pour_un_organisme_de_santé_publique_Vauchel_Benjamin.zip
OC/Projet 3/Vauchel_Benjamin_1_notebook_042025.ipynb
OC/Projet 3/Vauchel_Benjamin_2_presentation_042025.pdf
OC/Projet 4/Construisez_un_modèle_de_scoring_Vauchel_Benjaminzip.zip
OC/Projet 4/Vauchel_Benjamin_1_notebook_analyse_exploratoire_feature_enginering_052025.ipynb
OC/Projet 4/Vauchel_Benjamin_2_notebook_modelisation_052025.ipynb
OC/Projet 4/Vauchel_Benjamin_3_presentation_052025.pdf
OC/Projet 5/Segmentez_des_clients_d_un_site_e_commerce_Vauchel_Benjamin.zip
OC/Projet 5/Vauchel_Benjamin_1_script_062025.sql
OC/Projet 5/Vauchel_Benjamin_2_notebook_exploration_062025.ipynb
OC/Projet 5/Vauchel_Benjamin_3_notebook_essais_062025.ipynb
OC/Projet 5/Vauchel_Benjamin_4_notebook_simulation_062025.ipynb
OC/Projet 5/Vauchel_Benjamin_5_presentation_062025.pdf
OC/Projet 6/Classifiez_automatiquement_des_biens_de_consommation_Vauchel_Benjamin.zip
OC/Projet 6/Vauchel_Benjamin_1_notebook_pretraitement_feature_extraction_faisaibilite_description_072025.ipynb
OC/Projet 6/Vauchel_Benjamin_2_notebook_pretraitement_feature_extraction_faisaibilite_image_072025.ipynb
OC/Projet 6/Vauchel_Benjamin_3_notebook_pretraitement_feature_extraction_faisaibilite_description_image_072025.ipynb
OC/Projet 6/Vauchel_Benjamin_4_notebook_classification_072025.ipynb
OC/Projet 6/Vauchel_Benjamin_5_notebook_script_python_api_072025.ipynb
OC/Projet 6/Vauchel_Benjamin_6_presentation_072025.pdf
OC/Projet 7/Réalisez_une_analyse_de_sentiments_grâce_au_Deep_Learning_Vauchel_Benjamin.zip
OC/Projet 7/Vauchel_Benjamin_1_presentation_082025.pdf
OC/Projet 7/Vauchel_Benjamin_2_blog_082025.pdf
OC/Projet 7/Vauchel_Benjamin_3_dossier_code_082025.zip
OC/Projet 8/note_technique.pages
OC/Projet 8/Traitez_les_images_pour_le_systeme_embarque_d_une_voiture_autonome_Vauchel_Benjamin.zip
OC/Projet 8/Vauchel_Benjamin_1_note_technique_092025.pdf
OC/Projet 8/Vauchel_Benjamin_2_dossier_git_api_ui_notebook_092025.zip
OC/Projet 8/Vauchel_Benjamin_3_presentation_092025.pdf
OC/Projet 9/Developpez_une_preuve_de_concept_Vauchel_Benjamin.zip
OC/Projet 9/MobileVIT.pdf
OC/Projet 9/Note Méthodologique.pages
OC/Projet 9/Plan prévisionnel - draft.pages
OC/Projet 9/Plan prévisionnel.pages
OC/Projet 9/PP-LiteSeg.pdf
OC/Projet 9/SERNet.pdf
OC/Projet 9/Vauchel_Benjamin_1_plan_previsionnel_102025.pdf
OC/Projet 9/Vauchel_Benjamin_2_dossier_git_dashboard_notebook_102025.zip
OC/Projet 9/Vauchel_Benjamin_3_note_methodologique_102025.pdf
OC/Projet 9/Vauchel_Benjamin_4_presentation_102025.pdf
